.footer{
    background-color: #333D47;
    color: #fff;
    padding: 3.11em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em; 
}

.social_list li a{
    text-decoration: none;
    color: inherit;
}
.social_list li:hover{
  color: #1BC3AA;
}

.social_list svg{
    font-size:  1.5em;
    cursor: pointer
}
.copy_right{
    margin-top: 2em;
    font-weight: bold;
    color: #1BC3AA;
}