.message{
width: 100%;
padding: 1em;
border: 1px solid black;
border-radius: 5px;
margin: 0 auto;
margin-bottom: 2em;
text-align: center;
}

.sucess{
    color: #155724;
    background-color: #d4edda;
    border-color: #cef6cb;
}
.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}